<div class="rows" 
    [@slide]="slideState"
    (@slide.done)="onAnimationDone($event)"
    >
<mat-toolbar-row class="navbar-row" #navrow *ngIf="ready">
    Devlogs
    <ul>
        <button class="navbar-button" (mouseenter)="increaseAlpha($event)" (mouseleave)="resetAlpha($event)" (click)="slideOutMenu($event)">
            S.T.R.O.B.O.T.S
        </button>
        <button class="navbar-button" (mouseenter)="increaseAlpha($event)" (mouseleave)="resetAlpha($event)" (click)="slideOutMenu($event)">
            Headquarters
        </button>
    </ul>
</mat-toolbar-row>

<mat-toolbar-row class="navbar-row" #navrow *ngIf="ready">
    Portfolio
    <ul>
        <button class="navbar-button" (mouseenter)="increaseAlpha($event)" (mouseleave)="resetAlpha($event)" (click)="slideOutMenu($event)">
            3D Modelling
        </button>
        <button class="navbar-button" (mouseenter)="increaseAlpha($event)" (mouseleave)="resetAlpha($event)" (click)="slideOutMenu($event)"
            id="/music">
            Music
        </button>
        <button class="navbar-button" (mouseenter)="increaseAlpha($event)" (mouseleave)="resetAlpha($event)" (click)="slideOutMenu($event)">
            Digital Art
        </button>
    </ul>
</mat-toolbar-row>

<mat-toolbar-row class="navbar-row" #navrow *ngIf="ready">
    Skilltree
    <ul>
        <button class="navbar-button" (mouseenter)="increaseAlpha($event)" (mouseleave)="resetAlpha($event)" (click)="slideOutMenu($event)">
            Languages
        </button>
        <button class="navbar-button" (mouseenter)="increaseAlpha($event)" (mouseleave)="resetAlpha($event)" (click)="slideOutMenu($event)">
            Programming
        </button>
        <button class="navbar-button" (mouseenter)="increaseAlpha($event)" (mouseleave)="resetAlpha($event)" (click)="slideOutMenu($event)">
            Miscellaneous
        </button>
    </ul>
</mat-toolbar-row>

<mat-toolbar-row class="navbar-row" #navrow *ngIf="ready">
    Contact
    <ul>
        <button class="navbar-button" (mouseenter)="increaseAlpha($event)" (mouseleave)="resetAlpha($event)" (click)="slideOutMenu($event)">
            Email Us
        </button>
        <button class="navbar-button" (mouseenter)="increaseAlpha($event)" (mouseleave)="resetAlpha($event)" (click)="slideOutMenu($event)">
            Social Media
        </button>
    </ul>
</mat-toolbar-row>

<mat-toolbar-row class="navbar-row" #navrow *ngIf="ready">
    Admin
    <ul>
        <button 
            class="navbar-button"
            (mouseenter)="increaseAlpha($event)"
            (mouseleave)="resetAlpha($event)"
            (click)="openLoginDialog()"
            *ngIf="(this.accountService.currentUser$ | async) == null">
            Login
        </button>

        <button
            class="navbar-button"
            id="/manager"
            (mouseenter)="increaseAlpha($event)"
            (mouseleave)="resetAlpha($event)"
            (click)="slideOutMenu($event)"
            *ngIf="this.accountService.currentUser$ | async">
            Content Manager
        </button>

        <button 
            class="navbar-button"
            (mouseenter)="increaseAlpha($event)"
            (mouseleave)="resetAlpha($event)"
            (click)="this.accountService.logout()"
            *ngIf="this.accountService.currentUser$ | async">
            Logout
        </button>
    </ul>
</mat-toolbar-row>
</div>