.login-dialog-content
{
    background-color: rgba(27, 27, 27, 0.5);
    border: 2pt solid white;
    border-radius: 6px;
    padding: 60px;  
}

form
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mat-form-field
{
    font-size: 14pt;
}

.button-row
{
    display:flex;
    flex-direction: row;
    padding: 4px;
}

button
{
    font-size: 14pt;
    margin: 15px;
    transition: 150ms;
}

button:hover
{
    transform: scale(1.15);
}