<div class="login-dialog-content"
[@slide]='slideState'
[@fade]='fadeState'
(@slide.start)="onAnimationStart($event)" 
(@slide.done)="onAnimationDone($event)">

    <h1>
        Welcome!
    </h1>

    <form
        #loginForm="ngForm"
        (ngSubmit)="login()"
        autocomplete="off"
        [@slide]='slideState'>

        <mat-form-field>
            <mat-label>Username</mat-label>
            <input class="hyperlink-input"
                matInput
                name="username"
                [(ngModel)]="model.username">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Password</mat-label>
            <input class="hyperlink-input"
                matInput
                name="password"
                type="password"
                [(ngModel)]="model.password">
        </mat-form-field>

        <div class="button-row">
            <button
                mat-raised-button
                type="submit"
                >
                Log In
            </button>
            <button 
                mat-raised-button
                color="warn"
                type="button"
                (click)="cancel()"
                >
                Cancel
            </button>
        </div>


    </form>
</div>