/* You can add global styles to this file, and also import other style files */
@import "~@angular/cdk/overlay-prebuilt.css";

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

* {
    margin:0px;
    padding:0px;
    border: 0px;
}

.cdk-overlay-backdrop.cdk-overlay-backdrop-showing.dark-backdrop {
    background: #000;
    opacity: 0.85 !important;
}

html
{
    background-image: linear-gradient(90deg, black, rgb(0, 140, 255));
    font-family: 'Rajdhani', sans-serif;
    padding: 0%;
    margin: 0%;
    color: white;
}

/* .toast-panel {
} */