.dropzone
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 1px dashed black;
    background-color: rgba(245, 245, 245, 0.15);
    transition: 150ms;
}

.dropzone.fileover
{
    background-color: rgba(127, 255, 212, 0.397);
    transform: scale(1.05);
}

.dropzone-input
{
    opacity: 0;
}
