<head>
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel=”stylesheet”>
</head>

<div class="login-dialog-content"
[@slide]='slideState'
[@fade]='fadeState'
(@slide.start)="onAnimationStart($event)" 
(@slide.done)="onAnimationDone($event)">
    <header class="panel-header">
        <h1 class="panel-title">
            Sign in
        </h1>
    </header>
    <body>
        <form
        #loginForm="ngForm"
        class="loginForm"
        (ngSubmit)="login()"
        autocomplete="off"
        [@slide]='slideState'
        >
            <input
                name="login"
                type="text"
                placeholder="Username"
                autocomplete="off"
                [(ngModel)]="loginModel.username"
                >
            <input
                name="password"
                type="password"
                placeholder="Password"
                autocomplete="off"
                [(ngModel)]="loginModel.password"
                >
            <div class="buttonRow">
                <button
                    class="loginButton"
                    type="submit"
                >
                    Login
                </button>
                <button 
                    class="cancelButton"
                    type="button"
                    (click)="cancel()"
                >
                    Cancel
                </button>
            </div>
        </form>
    </body>
</div>