cdk-virtual-scroll-viewport {
    background:rgba(51, 51, 51, 0.5);
    border-radius: 4px;
    margin: 20px;
    font-size: 12pt;
}

.text-viewport {
    height: 600px;
}

.comments-viewport {
    height: 300px;
}

.text-content {
    padding: 20px;
}

.title-content {
    padding: 20px;
    font-size: 18pt;
    text-align: center;
}

.sidenav-container {
    
    position: absolute;
    top: 150px;
    bottom: 0;
    left: 0;
    right: 0;
    background: none;
}

.mat-sidenav {

    width: 250px;
    background: none;
    border: none;
    position: fixed;
}

.mat-sidenav-content
{
    background: none;
}

.button-cascade
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    list-style-type: none;
}

.content-button
{
    margin-bottom: 38px;
    height: 50px;
    border: 2px solid #333;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    width: 180px;
    text-align: left;
    background-color: rgba(136, 136, 136, 0.45);
    transition: 300ms background-color border-color;
    color: white;
    opacity: 0;
    transform: translateX(-150px);
    transition: 200ms;
}

.content-button:hover
{
    border-color: rgba(255, 255, 255, 0.521);
    background-color: rgba(140, 209, 255, 0.45);
    color: white;
}

.logo
{
    background-color: rgba(185, 169, 255, 0.25);
    border-radius: 50%;
    padding: 20px;
    transform: scale(.5);
    transition: 300ms;
}

.logo:hover
{
    background-color: rgba(185, 169, 255, 0.45);
    transform: scale(.65)
}

.app-comment-tree
{
    margin-left: 10px;
}

.comment-section
{
    display: flex;
    flex-direction: column;
}

.comment-button
{
    width: fit-content;
    align-self: flex-end;
    margin-right: 20px;
    margin-bottom: 20px;
    transition: 200ms;
    font-weight: bold;
}

.comment-button:hover
{
    transform: scale(1.15);
}
