.toast
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-items: flex-end;
  align-items: center;
  width: fit-content;
  padding: 10pt;
  border: 2pt solid;
  border-radius: 4pt;
  list-style-type: none;
  font-family: 'Rajdhani', sans-serif;
  font-size: 12pt;
}

ul > li
{
  padding-left: 10pt;
  padding-right: 10pt;
}

.material-icons
{
  text-align: center;
  padding: 0pt;
}

.material-icons.button
{
  padding: 0pt;
  cursor: pointer;
  transition: transform 200ms;
}

.material-icons.button:hover
{
  transform: scale(1.25);
}

