<nav class="navbar">
    <ul>
        <li>
            <ul class="navrow">
                <li routerLink="/devlogs" routerLinkActive='active'>DevLogs</li>
                <li class="hoverable" (mouseenter)="highlight($event)" (mouseleave)="reset($event)">S.T.R.O.B.O.T.S</li>
                <li class="hoverable" (mouseenter)="highlight($event)" (mouseleave)="reset($event)">Headquarters</li>
            </ul>
        </li>

        <li>
            <ul class="navrow" id="row2">
                <li routerLink="/portfolio" routerLinkActive='active'>Portfolio</li>
                <li class="hoverable" (mouseenter)="highlight($event)" (mouseleave)="reset($event)">3D Modelling</li>
                <li class="hoverable" (mouseenter)="highlight($event)" (mouseleave)="reset($event)">Music</li>
            </ul>
        </li>

        <li>
            <ul class="navrow" id="row3">
                <li routerLink="/skilltree" routerLinkActive='active'>Skilltree</li>
                <li class="hoverable" (mouseenter)="highlight($event)" (mouseleave)="reset($event)">Languages</li>
                <li class="hoverable" (mouseenter)="highlight($event)" (mouseleave)="reset($event)">Programming</li>
                <li class="hoverable" (mouseenter)="highlight($event)" (mouseleave)="reset($event)">Miscellanenous</li>
            </ul>
        </li>

        <li>
            <ul class="navrow" id="row4">
                <li>Contact</li>
                <li class="hoverable" (mouseenter)="highlight($event)" (mouseleave)="reset($event)">Email</li>
                <li class="hoverable" (mouseenter)="highlight($event)" (mouseleave)="reset($event)">LinkedIn</li>
            </ul>
        </li>

        <li>
            <ul class="navrow" id="row5">
                <li>Admin</li>
                <li 
                    class="hoverable"
                    *ngIf="(this.accountService.currentUser$ | async) == null"
                    (mouseenter)="highlight($event)"
                    (mouseleave)="reset($event)"
                    (click)="openDialog()"
                    >Login</li>
                <li 
                    class="hoverable"
                    *ngIf="this.accountService.currentUser$ | async"
                    (mouseenter)="highlight($event)"
                    (mouseleave)="reset($event)"
                    routerLink='/manager'
                    >Manage Content</li>
                <li 
                    class="hoverable"
                    *ngIf="this.accountService.currentUser$ | async"
                    (mouseenter)="highlight($event)"
                    (mouseleave)="reset($event)"
                    (click)="logout()"
                    >Logout</li>
                <li 
                    class="hoverable"
                    (mouseenter)="highlight($event)"
                    (mouseleave)="reset($event)"
                    routerLink='/errors'
                    >Debug</li>
            </ul>
        </li>

    </ul>
</nav>