@import '~@angular/material/theming';
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

$custom-typography:    mat-typography-config(
    $font-family:      '"Rajdhani" , sans-serif'
);

@include mat-core($custom-typography);

$headquarters-primary: mat-palette($mat-gray, A900, A900, A900);
$headquarters-accent:  mat-palette($mat-indigo, A900, A900, A900);
$headquarters-warn:    mat-palette($mat-red);

$headquarters-theme: mat-dark-theme((
    color: (
        primary: $headquarters-primary,
        accent: $headquarters-accent,
        warn: $headquarters-warn
    ),
  )
);

@include angular-material-theme($headquarters-theme);