.manager-form
{
    display: flex;
    justify-content: center;
}
.manager-frame
{
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    width: fit-content;
    height: 100%;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 25px;
}

.manager-toolbar
{
    display: flex;
    justify-content: space-between;
}

ul
{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0px;
}

li
{
    margin: 5px;
}

.toolbar-section:not(:last-child) > .buttons > li:last-child
{
    border-right: 2px solid white;
}

.toolbar-section
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.manager-actions
{
    display: flex;
    justify-content: flex-end;
}

.manager-buttons
{
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
}

.manager-input
{
    padding: 8px;
}

.title-input
{
    font-size: 16pt;
}

.text-input
{
    font-size: 12pt;
}