<ul>
    <li>
        <img 
            class="big-logo"
            src="https://res.cloudinary.com/automatrio/image/upload/v1617825548/headquarters/Logo01_glw9v3.png">
    </li>
    
    <li>
        <img>
    </li>

    <ul class="trio">
        <li><h1>MUSIC</h1></li>
        <li><h1>DESIGN</h1></li>
        <li><h1>PROGRAMMING</h1></li>
    </ul>

    <ul class="icon-row">
        <mat-icon></mat-icon>
        <mat-icon></mat-icon>
        <mat-icon></mat-icon>
        <mat-icon></mat-icon>
        <mat-icon></mat-icon>
    </ul>

</ul>