<mat-card #cardRef [@scale]="animationState">

    <form
    [formGroup]='commentForm'
    (ngSubmit)='submitNewComment()'
    class="instruction-form">

        <mat-card-title> 

            <mat-form-field class="author-field">
                <mat-label>Who are you?</mat-label>
                <input 
                    matInput
                    [class.is-invalid]='commentForm.get("author").errors && commentForm.get("author").touched'     
                    formControlName='author'
                >
            </mat-form-field>
        </mat-card-title>

        <mat-card-content> 
            
            <mat-form-field class="content-field">
                <mat-label>Leave a comment</mat-label>
                <textarea
                    matInput
                    [class.is-invalid]='commentForm.get("content").errors && commentForm.get("content").touched' 
                    formControlName='content'
                    placeholder="Say something!"></textarea>
            </mat-form-field>

        </mat-card-content>

        <mat-card-subtitle> 
            <div class="comment-interface">

                <button
                    type="submit">
                    <mat-icon>forward</mat-icon>
                </button>

                <button
                    type="button"
                    (click)="cancelCommentCreation()">
                    <mat-icon>cancel</mat-icon>
                </button>

            </div>
        </mat-card-subtitle>
    
    </form>

</mat-card>